/.vscode

/.idea
/.run

/.zig-cache
/zig-out

/libs
/libs/zmath/.zig-cache

!/libs/zmath/src/*
!/libs/zmath/.zigversion
!/libs/zmath/build.zig
!/libs/zmath/build.zig.zon

!/libs/cimgui.cpp
!/libs/cimgui.h
